$bebas-neue: 'Bebas Neue', sans-serif; // даты в слайдере
$pt-sans: "PT Sans", sans-serif; // основной шрифт

@mixin vertical-line {
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	background-color: #42567A;
	opacity: 0.1;
}

@mixin horizontal-line {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #42567A;
	opacity: 0.1;
}

body {
	font-family: $pt-sans;
	font-weight: 400;
	font-size: 14px;

	.container {
		max-width: 1440px;
		width: 100%;
		margin-left: calc((100vw - 1440px)*2/3);
		margin-right: calc((100vw - 1440px)*1/3);

		// !разобраться фикс при ширине <= 1440 (появляется x-скролл когда 1441 < vw < 1483)
		@media (max-width: 1440px) {
			margin-left: 0;
			margin-right: 0;
		}

		.dates {
			padding: 170px 40px 104px 80px;
			position: relative;
			height: 100%;

			// боковые бордеры раздела
			&::before {
				content: "";
				@include vertical-line;
				left: 0;
			}

			&::after {
				content: "";
				@include vertical-line;
				right: 0px;
			}

			&__decoration_vertical-line {
				@include vertical-line;
				left: 50%;
			}

			&__decoration_horizontal-line {
				@include horizontal-line;
				top: 480px;
			}

			&__title {
				font-weight: bold;
				font-size: 56px;
				line-height: 1.2;
				color: #42567A;
				margin-bottom: 393px;

				// декоративный элемент заголовка (mobile: none)
				&::after {
					content: "";
					position: absolute;
					left: 0px;
					top: 177px;
					width: 5px;
					height: 120px;
					background-image: linear-gradient(#3877EE, #EF5DA8);
				}
			}

			.sections {

				&__years {
					display: flex;
					font-weight: 700;
					font-size: 200px;
					line-height: 160px;
					position: absolute;
					top: 400px;
					// статический отступ из макета
					// left: 214px; 
					// динамический отступ (-0px для возможного смещения влево/вправо при необходимости)
					left: calc(-0px + (100% - 973px)/2);
					letter-spacing: -3.5px;

					&_start {
						color: #5D5FEF;
					}

					&_end {
						color: #EF5DA8;
					}
				}

				.culture-trends {
					position: absolute;
					left: calc((100% - 530px)/2);
					top: 215px;

					&__list {
						width: 530px;
						height: 530px;
						border: 1px solid rgba(66, 86, 122, 0.2);
						border-radius: 50%;
					}

					&__item {
						// starting pos in the center of the circle
						position: absolute;
						top: 50%;
						left: 50%;
					}

					&__number {
						&_opened {}

						&_closed {}
					}

					&__description {}
				}

				.toggle {
					color: #42567A;
					margin-bottom: 56px;

					&__section-number {
						margin-bottom: 20px;
					}

					&__button {
						width: 50px;
						height: 50px;
						box-shadow: inset 0 0 0 1px rgba(66, 86, 122, 0.5);
						border-radius: 50%;
						margin-right: 20px;

						img {
							display: block;
							position: relative;
							left: 50%-12.5%;
						}

						&_next {
							rotate: 180deg;
						}

						&_disabled {
							opacity: 0.5;
						}
					}
				}

				.events {

					&__list {
						display: flex;
						gap: 80px;
					}

					&__item {
						display: flex;
						// !ширина разная, надо вставлять свайпер и смотреть его доступные настройки
						max-width: 320px;
						flex-direction: column;
						align-items: start;
						gap: 15px;
					}

					&__title {
						font-family: $bebas-neue;
						line-height: 1.2;
						font-size: 25px;
						color: #3877EE;
					}

					&__descriptions {
						font-size: 20px;
						line-height: 30px;
						color: #42567A;
					}
				}

			}

		}
	}
}