$bebas-neue: 'Bebas Neue', sans-serif; // даты в слайдере
$pt-sans: "PT Sans", sans-serif; // основной шрифт

@mixin vertical-line {
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	background-color: #42567A;
	opacity: 0.1;
}

@mixin horizontal-line {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #42567A;
	opacity: 0.1;
}